<section>
    <h2><em>Example</em> module</h2>
    <p>Here is the value of <em>aString</em> from the app controller: {{ app.aString }}</p>
    <p>Here is the value of <em>aConstant</em> from the app controller: {{ app.aConstant }}</p>
    <p common-directive>The example common directive is applied to this paragraph (check the console).</p>
    <p>The example common filter is used on <em>aString</em> here: {{ app.aString | commonFilter }}</p>
    <p>Shall we <a ui-sref="example-subexample">display the submodule</a>?</p>
    <p>Here is the list of items loaded from the API and resolved in <em>example-module.js</em></p>
    <ul ng-repeat="i in example.items">
        <li><a href="#" ng-click="example.loadItem(i.id)">{{ i.title }}</a></li>
    </ul>
    <div>
        <p>The currently loaded item is <em>{{ example.item.title }}</em></p>
    </div>
</section>